.menu-body {
	margin: 0 auto;
}
h1 {
	text-align: center;
	margin: 50px auto;
	margin-bottom: 50px;
}

footer {
	background-color: orange;
}

.editButton {
	display: inline-block;
}

h3, h4,h5,h6, p {
	text-align: center;
	text-transform: uppercase;
}
